<section id="startyourday">
<div class="startyourday">
  <div class="content">
    <h2>{{product.metafields.start_day.start_head}}</h2>
    <p>{{product.metafields.start_day.start_desc}}</p>
    <img src="{{product.metafields.start_day.start_img}}" alt=" " /> 
  </div>
</div>
</section>

{% schema %}
  {
    "name": "Start-your-day Section",
    "settings": [],
    "presets": [
      {
        "name": "Start-your-day Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}