<p>This is Created by Shopify Code Editor</p>
<p>This is Created by Shopify Code Editor</p>
<p>This is Created by Shopify Code Editor</p>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}